<html>
  <head>
    <title>Meadowlark Travel</title>
    <style>
      .cuadrado {
        height: 97vh;
        width: 99vw;
        background-color: rgb(85, 43, 28);
      }
      .loguito {
        height: auto;
        width: 25vw;
      }
    </style>
  </head>
  <body>
    <div class="cuadrado">
      <img class="loguito" src="image.png" alt="imagen que pesa 90000 gigas, seguro que una foto de tu vieja">
      {{{body}}}
    </div>
  </body>
</html>