<h1>El acerca de, donde ponemos info sensible como las contraseñas, cuentas bancarias y factor RH</h1>
{{#if fortune}}
    <p>toma guachin, una frase interetelaaaar:</p>
    <p>{{fortune}}</p>
{{/if}}