<h1>Bienvenido a la pagina principal</h1>
<p>Preguntas?? anda a la 
    <a href="/about" data-test-id="about">ABOUT US</a>
    gato
</p>
<p>toma el tiempo kbza:</p>
{{> weather}}

{{!-- el data-test-id sirve para los tests autmaticos --}}
{{!-- reservate las clases para los estilos --}}